body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #04220c;
}

.hero-box {
  background-color: #000;
}

.nav {
  background-color: #000;
}

.nav a {
  color: #ffff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 24px;
  animation: fadeIn 5s;
}

.nav li {
  width: 128px;
}
.nav a:hover {
  background-color: #5fbb25;
  border-radius: 20px;
}
.logo {
  color: #ffff;
}
.hero-img {
  position: relative;
  width: 100%;
  height: 100%;
  animation: fadeIn ease-in 10s;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top 0 left 0px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero-txt {
  color: rgb(255, 255, 255);
  padding: 48px;
  min-height: 648px;
  text-align: justify;
  animation: fadeIn 5s;
}

.hero-txt h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 87px;
}
.hero-txt h2 {
  font-size: 48px;
  font-weight: 600;
}
article {
  padding: 8px 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}
.button {
  padding-top: 40px;
}

.button a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600px;
  color: #ffff;
}

.btn-a {
  display: inline-block;
  border: 1px solid #5fbb25;
  background: none;
  padding: 24px 56px;
  border-radius: 40px;
  margin-right: 24px;
}
.btn-a:hover {
  background-color: #5fbb25;
}
.info-section-box {
  display: flex;
  flex-direction: column;
}
.info-section-box h2 {
  color: #ffff;
  font-size: 48px;
  font-weight: 600;
  line-height: 65px;
  align-self: center;
  margin-top: 28px;
}
.section-box {
  display: flex;
  background: linear-gradient(
    270deg,
    rgba(1, 117, 34, 0.5) 2.24%,
    rgba(7, 99, 33, 0) 51.05%
  );
  align-items: center;
  height: 100vh;
  min-height: 400px;
}
.section-info {
  color: #ffff;
  font-size: 16px;
  font-weight: bold;
  padding: 32px;
  align-self: center;
  text-align: justify;
  animation: slide-right 0.8s ease-in forwards;
}

.section-image {
  position: relative;
  animation: slide-left 0.8s ease-in forwards;
}

.img-1 {
  position: absolute;
  width: 168px;
  height: 118px;
  top: 50%;
  right: 50%;
  transform: translate(-52px, -156px);
  border-radius: 5px;
  z-index: 10;
  animation: tilt-in-left-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.img-2 {
  position: absolute;
  width: 168px;
  height: 118px;
  top: 50%;
  left: 50%;
  transform: translate(80px, -156px);
  border-radius: 5px;
}

.img-3 {
  position: absolute;
  width: 268px;
  height: 164px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 5px;
  z-index: 5;
}

.img-4 {
  position: absolute;
  width: 168px;
  height: 118px;
  top: 50%;
  right: 50%;
  transform: translate(-52px, 48px);
  border-radius: 5px;
}

.img-5 {
  position: absolute;
  width: 168px;
  height: 118px;
  top: 50%;
  left: 50%;
  transform: translate(80px, 48px);
  border-radius: 5px;
  z-index: 10;
}

@keyframes slide-left {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-40px);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes tilt-in-left-1 {
  0% {
    transform: rotateX(-30deg) translateX(-100px) skewX(-20deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg) translate(-52px, -156px) skewX(0deg);
    opacity: 1;
  }
}
